@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Poppins&display=swap');

img {

width: 350px;

}

body {

background-color: whitesmoke;


}


p {

font-family: Poppins;
font-size: medium;

}

h1{

font-family: Fira Code;



}

.index h1 {

font-size: 70px;

}

.index p {

position: absolute;
bottom: 53%;
width: 700px;


}

.index b {

  font-family: Poppins;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    width: 700px;
}

b {

font-family: Poppins;

}

ul {

font-family: Poppins;

}

li {

font-family: Poppins;

}

h4 {

font-family: Poppins;

}

.menu {

position: absolute;
left: 32%;
font-family: Poppins;
width: 1353px;
height: 30px;
bottom: 739px;
cursor: pointer;
bottom: 94%;



}

.skill-bars {

  position: absolute;
   right: 50px;
    top: 43%;

}

a {


color: black;
text-decoration: none;


}

h2 {


font-family: Poppins;

}

button {


    color: white;
    background-color: black;
    position: absolute;
    bottom: 47%;
    width: 90px;
    height: 40px;
    border-radius: 30px;
    font-family: Poppins;
    transition: transform 3.0s ease;
    cursor: pointer;
    left: 44%;

}

button::after, button::before {

content: '';
position:absolute;
opacity: 0.3;
background-color: black;
border-radius: inherit;
width: 100%;
height: 100%;
left: 0;
bottom: 0;
z-index: -1;
transition: transform 0.3 ease;



}

button:hover {

transform: translate(-12px,-12px);


}

button::after{

    transform: translate(-6px,-6px);

}

button::before{

    transform: translate(12px,12px);

}


.index {

display: flex;
justify-content: center;
align-items: center;



}

.wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: black;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: black;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: black;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: black;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: black;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: white;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: black;
  }
  .wrapper .button:nth-child(2) span{
    color: black;
  }
  .wrapper .button:nth-child(3) span{
    color: black;
  }
  .wrapper .button:nth-child(4) span{
    color: black;
  }
  .wrapper .button:nth-child(5) span{
    color: black;
  }


  span {


font-family: Poppins;

  }

.fade-in {



animation: fadeIn 2s;


}

@keyframes fadeIn {
  
from {

  opacity: 0;

}

to {

opacity: 1;

}

}

.Images {

display: flex;
justify-content: center;
align-items: center;

}

.Contact {

position: absolute;
right: 22%;


}

.Socials-Icon {

position: absolute;
bottom: 20%;
left:42%;
}

.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #edf6f9;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #6665ee;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}


@media screen  and (max-width:600px) {

  .index h1 {

    font-size: 42px;
    position: absolute;
    left: 20px;
    left: 14px;
  }

  .index p b {

width: 552px;
font-size: 15px;
position: absolute;
right: 94px;
bottom: 10px;


  }

  .index button {

left: 20px;


  }

  .menu {

  position: absolute;
  left: 30px;

  }


  }
  
